[flake8]
select = Q0, ANN001, ANN2, D
ignore = D205, D400
max-line-length=100
inline-quotes = "
exclude =
  .git
  venv
  __pycache__
  source
  outputs
  docs/*
per-file-ignores =
  tests/*:ANN001, ANN2
  fusor/models.py:ANN001, ANN205, ANN201