[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
"ga4gh.vrsatile.pydantic" = "~=0.0.11"
"ga4gh.vrs" = "~=0.8.1"
"biocommons.seqrepo" = "*"
gene-normalizer = "~=0.1.35"
cool-seq-tool = "~=0.1.13"

[dev-packages]
fusor = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
coverage = "*"
coveralls = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-quotes = "*"
flake8-annotations = "*"
