[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
jsonschema = ">=2.3, <4.0"
"ga4gh.vrsatile.pydantic" = "*"
"ga4gh.vrs" = {version = "==0.7.0rc3", extras = ["extras"]}
"biocommons.seqrepo" = "*"
gene-normalizer = "*"
uta-tools = "*"

[dev-packages]
fusor = {editable = true, path = "."}
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
coveralls = "*"
pytest-cov = "*"
ipykernel = "*"
flake8-quotes = "*"
flake8-annotations = "*"
